/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
	font-family: 'Georgia', Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 17px;


}

header{
	height: 180px;
	margin: 80px 20px 20px 20px;
}




p {
	line-height: 190%;
	padding: 18px;
}

nav {
	padding: 40px 150px 10px;

}

nav img{
	float: left;
	margin: 10px 0 0 40px;
}

nav ul{
	float: right;
	padding: 40px;
	font-style: italic;
}


.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}


.top {
	font-size: 35px;
	color: #474747;
	padding: 50px;
	width: 430px;
	height: 100px;
	margin:  110px auto 0
}

.top img {
	height: 75px;
	padding: 5px;
	float: left;

}

.top h1{
	padding: 20px;
	margin-left: 100px;
}


.main {
	font-size: 22px;
	color:  #737373;
	margin: 30px auto 0;
	width: 800px;
}

.contact {

	font-size: 27px;
	color: #474747;
	text-align: center;
	margin: 35px auto 10px;

}

a:link {
	text-decoration:none;
	color: #F37359;
}


a:visited {
	text-decoration:none;
	color: #D6D5D4;
}

a:hover {
	text-decoration:none;
	color: #FFAD14;

}

a:active {
	text-decoration:none;
}



.blog-posts{
	font-size: 15px;
	color:  #737373;
	margin: 30px auto 0;
	width: 600px;
}

.blog-posts ul {
	line-height: 400%;

}

.blog-posts a {
	font-size: 25px;
	font-style: none;
	margin: 20px 0 0 20px;
	padding-left: 10px;
	position: relative;
}


