/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
	Resetting Defaults
*/


b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}



/*
	Grid
*/

.container {
  max-width: 960px;
  margin: 0 auto;
}


/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}




/*
	Custom Styles
*/


body {
	background: #FFF;
	font-family: 'Sintony', Arial, Helvetica, sans-serif;
	color: #666;
}



/*
	Links
*/


a:link {
	text-decoration:none;
	color: #F37359;
}


a:visited {
	text-decoration:none;
	color: #D6D5D4;
}

a:hover {
	text-decoration:none;
	color: #FFAD14;

}

a:active {
	text-decoration:none;
}


/*
	Typography
*/

h2{
	text-align: center;
	font-size: 40px;
	font-family: 'Sintony', sans-serif;

}

h6 {
	text-align: center;
	font-size: 23px;
	font-color: #8F8F8F;
}


p {
	line-height: 190%;
	padding: 18px;
	font-size: 16px;
	font-family: 'Sintony', sans-serif;
}


/*
	Navigation
*/

.primary-header {
	background: #fff;
	height: 100px;
}

.primary-logo {
	float: left;
	margin-top: 23px;

}

.primary-nav {
	height: 20px;
	width: 300px;
	float: right;
	margin-top: 50px;
}

.primary-nav li{
	float: left;
	width: 100px;
	text-align: center;
	font-family: 'Sintony', sans-serif;
	font-size: 14px;
	text-transform: uppercase;

}


/*
	Main Content
*/


.main-content{

	background: #FCFCFC;
	border-top: solid 1px #E8E8E8;
	border-bottom: solid 1px #E8E8E8;
}


.content-title{
	width: 500px;
	margin: 100px auto 50px;
	height: 80px;
}

.content-title h2{
	margin-top: 20px
}

.main-text{
	width: 700px;
	margin: 0 auto 100px;
}



/*
	"Hi, I'm Claire Lew"
*/


.avatar {
	width: 80px;
	float: left;
/*	margin: 40px 0 40px 40px;
*/
}

.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}



/*
	Blog
*/

.blog h2{
margin: 100px 0 100px;
}


.blog-list li{
	padding-bottom: 60px;


}

.post-date{
	float: left;
	width: 100px;
	margin-top: 5px;
}

.blog-title {
	font-size: 27px;
	float: right;
	width: 500px;
}

time {
	font-size: 16px;
}


.content-title time{
	padding-right: 20px;
}


/*
	Footer
*/

footer {
	background: #ffffff;
}

footer h6{
	padding: 38px 0 35px;
	width: 700px;
/*	border-bottom: solid 1px #E8E8E8;
*/	margin: 0 auto;

}

footer p{
	font-size: 12px;
	text-align: center;
	padding: 0 0 10px;
	text-transform: uppercase;
	color: #C9C9C9;
}


